  body {
    background-color: #faf3e0;
  }

  h1{
    color: #eabf9f;
  }

  h3{
    color: #b68973;
  }
  
  body{
    color: #1e212d;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 4px;
    width: 95%;
  }
